[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
rpc = {git = "https://github.com/vphpersson/rpc"}

[requires]
python_version = "3.8"
